// Todo item priority styling
.low {
  background-color: #92B558;
}

.medium {
  background-color: #F6D155;
}

.high {
  background-color: #DC4C46;
}

// Text stiling for card
.card-text {
  font-size: 1.75rem;
}

// Button styling
.btn-space {
    margin-right: 5px;
}
