// Todo item priority styling
.low {
  background-color: #92B558;
}

.medium {
  background-color: #F6D155;
}

.high {
  background-color: #DC4C46;
}

span.completed{
  background-color: #a9a9a9;
}

p.completed{
  color: gray;
  text-decoration: line-through;
}

button.completed{
  background-color: gray;
  border-color: gray;
  text-decoration: line-through;
}

// Text stiling for card
.card-text {
  font-size: 1.75rem;
}

// Button styling
.btn-space {
    margin-right: 5px;
}

.input-group {
  width: 85%;
  padding-right: 5%;
}

div.entrybar {
  padding-bottom: 50px;
  background-color: #547b90;
}
