
<div class="row" style="height: 15%">
  <div class="col pb-3" style="background-color: #547b90;">
    <h1 class= "text-light" *ngIf="username">Howdy, {{ username }}</h1>
  </div>
</div>

<div class="row entrybar">
  <div class="col pt-5">
    <div class="input-group input-group-lg mx-auto">
      <select class="input-group-prepend" [(ngModel)]="todoPriority">
        <option [ngValue]="undefined" disabled hidden selected> Priority </option>
        <option *ngFor="let opt of priorityDropdown" [value]="opt.priority"> {{ opt.priority}} - {{ opt.label}}</option>
      </select>
      <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="todoTitle" placeholder="Things to do..." (keydown.enter)="addTodo()">
      <button type="button" class="btn btn-primary btn-md" (click)="addTodo()" ><i class="fas fa-arrow-circle-right"></i></button>
    </div>
  </div>
</div>


<div class="container pt-4" *ngIf="todos?.length > 0">
  <div class="row pt-4 justify-content-center" *ngFor="let item of todos | paginate: { itemsPerPage: 4, currentPage: p };">
    <div class="col mx-auto">
      <div class="card round-0">
        <span class="card-header" style="padding: .25rem" [ngClass]="{
            'low' : item.priority == 3,
            'medium' : item.priority == 2,
            'high' : item.priority == 1,
            'completed': item.complete == true
         }"></span>
          <div class="card-body">
            <p class="card-text" [ngClass]="{'completed': item.complete == true }">{{ item.todo }}</p>
            <div class="text-right">
              <button class="btn btn-primary btn-space" (click)="completeTodo(item._id)" [ngClass]="{'completed': item.complete == true }" [disabled]="item.complete == true"><i class="fa fa-check-square" aria-hidden="true" ></i> Complete</button>
              <button class="btn btn-danger" (click)="deleteTodo(item._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col mx-auto">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
