
<div class="container">
  <div class="jumbotron" style="text-align: center; background-color: white;">
    <h1 *ngIf="username">Howdy, {{ username }}</h1>
  </div>
</div>

<div class="input-group pt-4 mx-auto" style="width: 80%;">
  <select class="input-group-prepend" [(ngModel)]="todoPriority">
    <option [ngValue]="undefined" disabled hidden selected> Priority </option>
    <option *ngFor="let opt of priorityDropdown" [value]="opt.priority"> {{ opt.priority}} - {{ opt.label}}</option>
  </select>
  <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="todoTitle" placeholder="Things to do...">
  <button (click)="addTodo()">Add Todo</button>
</div>

<div class="container mt-5 pt-5" *ngIf="todos?.length > 0">
  <div class="row pt-4" *ngFor="let item of todos;">
    <div class="col mx-auto">
      <div class="card round-0" style="width:85%">
        <span class="card-header" style="padding: .25rem" [ngClass]="{
            'low' : item.priority == 3,
            'medium' : item.priority == 2,
            'high' : item.priority == 1
         }"></span>
          <div class="card-body">
            <p class="card-text">{{ item.todo }}</p>
            <div class="text-right">
              <button class="btn btn-primary btn-space"><i class="fa fa-check-square" aria-hidden="true"></i> Complete</button>
              <button class="btn btn-danger" (click)="deleteTodo(item._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
