<div class="row pt-4">
  <div class="col ml-3">
    <h2 *ngIf="retrievedUsername">Howdy, {{ retrievedUsername }}</h2>
  </div>
</div>


<div class="container mt-5 pt-5" *ngIf="todos?.length > 0">
  <div class="row pt-4" *ngFor="let item of todos;">
    <div class="col mx-auto">
      <div class="card round-0" style="width:85%">
        <span class="card-header" style="padding: .25rem" [ngClass]="{
            'low' : item.priority == 3,
            'medium' : item.priority == 2,
            'high' : item.priority == 1
         }"></span>
          <div class="card-body">
            <p class="card-text">{{ item.todo }}</p>
            <div class="text-right">
              <button class="btn btn-primary btn-space"><i class="fa fa-check-square" aria-hidden="true"></i> Complete</button>
              <button class="btn btn-danger" (click)="deleteTodo(item._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
